<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <style type="text/css">
    SELECT  {font-size:X-LARGE}
    INPUT   {font-size:X-LARGE}
		INPUT[type="button"]{font-size:XX-LARGE}
		INPUT[type="submit"]{font-size:XX-LARGE}
		.ListButton {font-size:LARGE;width:48px;}
		.ListButton2 {font-size:LARGE;width:100px;}
		TABLE {table-layout:fixed;border:1px solid;}
		TH {background-color:lightcyan;border:1px solid;}
		TD {border:1px solid;}
		.scr {
			overflow-y: scroll;   /* スクロール表示 */ 
			width:  1050px;
			height: 300px;
			border: 1px double #000000; 
		}
		.Col1 {width:  100px;}
  </style>

	<title>和恒会物品管理(item950)</title>
</head>

<body>
	<form name="MAIN" action="/item950/" method="post" style="font-size:X-LARGE">
<!--  一覧部 -->
  <TABLE>
		<TR>
			<TH class="Col1">コード</TH>
			<TH Width="200px">名前</TH>
			<TH Width="100px">仕入先</TH>
			<TH Width="50px">単位1</TH>
			<TH Width="50px">単位2</TH>
			<TH Width="100px">棚</TH>
			<TH Width="100px">庶務CD</TH>
			<TH Width="100px">単価</TH>
			<TH Width="100px">勘定科目</TH>
			<TH Width="50px">削除</TH>
			<TH Width="50px">定数<BR>限度数</TH>
		</TR>
	</table>

	<DIV class="scr">
		<table border="1">
			<TR style="visibility: collapse;"> <!-- # 枠幅設定用行なので高さは０ -->
				<TD class="Col1"></TD>
				<TD Width="202px"></TD>
				<TD Width="102px"></TD>
				<TD Width="52px"></TD>
				<TD Width="52px"></TD>
				<TD Width="102px"></TD>
				<TD Width="102px"></TD>
				<TD Width="102px"></TD>
				<TD Width="102px"`"></TD>
				<TD Width="52px"></TD>
				<TD Width="52px"></TD>
			</TR>
			{% for RecMst in Snap %} 
				<TR>
					<TH>
						<input class="ListButton2"  style="font-size:LARGE" type='submit' value='{{ RecMst.Code }}' name='BtnSel' >
					</TH>
					<TD>{{ RecMst.Name}}</TD>
					<TD>{{ RecMst.SiiresakiName}}</TD>
					<TD>{{ RecMst.Tanni1}}</TD>
					<TD>{{ RecMst.Tanni2}}</TD>
					<TD>{{ RecMst.TanaName}}</TD>
					<TD>{{ RecMst.Code2|default_if_none:"" }}</TD>
					<TD>{{ RecMst.Tanka|default_if_none:"" }}</TD>
					<TD>{{ RecMst.Kamoku|default_if_none:"" }}</TD>
					<TD> <!-- 削除ボタン -->
						<input class="ListButton" style="font-size:LARGE"  type='submit' value='削除' name='BtnDel{{ RecMst.Code }}' >
					</TD>
					<TD> <!-- 定数ボタン -->
						<input class="ListButton" style="font-size:LARGE"  type='submit' value='定数' name='BtnTeisu{{ RecMst.Code }}' >
					</TD>
				</TR>
			{% endfor %}
		</table>
	</DIV> 
<!--  登録部 -->
    <table border="1" style="font-size:LARGE">
			<TR>
				<TH class="Col1">コード</TH>
				<TD>
					<input type="number" min="1" max="99999" value="{{ Rec.Code }}" name="Code" />
				</TD>
			</TR>
			<TR>
				<TH>名称</TH>
				<TD>
					<input value="{{ Rec.Name }}" name="Name"/>
				</TD>
			</TR>
			<TR>
				<TH>カナ名</TH>
				<TD>
					<input value="{{ Rec.Kana|default_if_none:"" }}" name="Kana"/>
				</TD>
			</TR>
			<TR>
				<TH>仕入先</TH>
				<TD>
					<select name="Siiresaki">
						{% for RecMst in SnapSiiresaki %} 
							<OPTION value="{{ RecMst.Code }}"
								{% if Rec.Siiresaki == RecMst.Code  %} Selected {% endif %}
							>{{ RecMst.Name}}
						{% endfor %}
					</select>
				</TD>
			</TR>
			<TR>
				<TH>単位1</TH>
				<TD>
					<input value="{{ Rec.Tanni1 }}" name="Tanni1" size="10"  />
				</TD>
			</TR>
			<TR>
				<TH>単位2</TH>
				<TD>
					<input value="{{ Rec.Tanni2 }}" name="Tanni2" size="10" />
				</TD>
			</TR>
			<TR>
				<TH>棚</TH>
				<TD>
					<select name="Tana">
						{% for RecMst in SnapTana %} 
							<OPTION value="{{ RecMst.Code }}"
								{% if Rec.Tana == RecMst.Code  %} Selected {% endif %}
							>{{ RecMst.Name}}
						{% endfor %}
					</select>
				</TD>
			</TR>
			<TR>
				<TH>庶務CD</TH>
				<TD>
					<input value="{{ Rec.Code2|default_if_none:"" }}" name="Code2" size="10" />
				</TD>
			</TR>
			<TR>
				<TH>単価</TH>
				<TD>
					<input value="{{ Rec.Tanka|default_if_none:"" }}" name="Tanka" size="10" />
				</TD>
			</TR>
			<TR>
				<TH>科目</TH>
				<TD>
					<select name="KamokuCD">
						{% for RecMst in SnapKamoku %} 
							<OPTION value="{{ RecMst.Code }}"
								{% if Rec.KamokuCD == RecMst.Code  %} Selected {% endif %}
							>{{ RecMst.Name}}
						{% endfor %}
					</select>
				</TD>
			</TR>
		</table>

<BR>

<input type="submit" value = "更新" name="BtnEnd" class="button">
　　
<input type="button" value="終了" onclick="location.href='/'">

<BR>

<p	class="LblMsg">{{ LblMsg }}</p>

</form>
</body>

</html>
